<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout_common}">

<th:block layout:fragment="script">
  <!-- SweetAlert2 -->
  <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
  <script th:inline="javascript">
    function deleteBoard(obj) {
      let id = obj.dataset.id;
      let url = "/board/delete/" + id;
      $.ajax({
        url: url,
        type: "DELETE",
        cache: false,
        success: function(data) {
          location.replace("/board/info");
        }
      })
    }
    function saveBoard(obj) {
      let id = obj.dataset.id;
      let url = "/board/update";
      let boardDto = {
        id:id,
        title:$('#title').val(),
        content:$('#content').val(),
      };
      $.ajax({
        url: url,
        type: "PATCH",
        data: JSON.stringify(boardDto),
        dataType: "json",
        contentType: "application/json;charset='UTF-8'",
        cache: false,
        success: function() {
          $('.form-control').attr('disabled', true);
          $('#updateBtn').css('display', 'block');
          $('#saveBtn').css('display', 'none');
        }
      })
    }

    function updateInit() {
      $('.form-control').attr('disabled', false);
      $('#updateBtn').css('display', 'none');
      $('#saveBtn').css('display', 'block');
    }

    function deleteReply(obj) {
      let id = obj.dataset.id;
      let url = "/reply/delete/" + id;
      $.ajax({
        url: url,
        type: 'DELETE',
        success: function () {
          location.replace(location.href);
        }
      });
    }

    function showModal(obj) {
      let id = obj.dataset.id;
      $('#rid').val(id);
      let url = "/reply/info/" + id
      $.ajax({
        url: url,
        type: 'POST',
        contentType: 'application/text',
        success: function(data){
          $('div.modal').modal();
          $('#modalContent').text(data);
        }
      })
    }

    function updateReply() {
      let id = $('#rid').val();
      let url = "/reply/update/" + id;
      let data = $('#modalContent').val();
      $.ajax({
        url: url,
        type: 'PATCH',
        data: data,
        dataType: 'html',
        contentType: 'application/text',
        success: function (data) {
          let replyCard = $('#replyCard');
          $('div.modal').modal('hide');
          replyCard.children().remove();
          replyCard.append(data);
        },
      });
    }

    function showDupForm(obj) {
      let id = obj.dataset.id;
      let dupForm = "<form action=\"/dupReply/new\" method=\"post\" id=\"dupForm\">\n" +
              "       <div class=\"form-group\">\n" +
              "        <div class=\"input-group\">\n" +
              "         <input type=\"hidden\" name=\"replyId\" id=\"replyId\">\n" +
              "         <textarea class=\"form-control\" id=\"dupReply\" name=\"dupReply\" rows=\"2\"></textarea>\n" +
              "         <button class=\"btn btn-primary btn-lg\" type=\"submit\">작성</button>\n" +
              "        </div>\n" +
              "       </div>\n" +
              "      </form>";
      $(obj).closest('.list-group').append(dupForm);
      $('#replyId').val(id);
    }

    function deleteDupReply(obj) {
      let id = obj.dataset.id;
      let url = "/dupReply/delete/" + id;
      $.ajax({
        url: url,
        type: 'DELETE',
        success: function () {
          location.replace(location.href);
        }
      });
    }

    function dupUpdateForm(obj) {
      let id = obj.dataset.id;
      let updateForm = "<form action=\"/dupReply/update\" method=\"post\" id=\"dupUpdateForm\">\n" +
              "       <div class=\"form-group\">\n" +
              "        <div class=\"input-group\">\n" +
              "         <input type=\"hidden\" name=\"dupReplyId\" id=\"dupReplyId\">\n" +
              "         <textarea class=\"form-control\" id=\"dupReply\" name=\"dupReply\" rows=\"2\"></textarea>\n" +
              "         <button class=\"btn btn-primary btn-lg\" type=\"submit\">작성</button>\n" +
              "        </div>\n" +
              "       </div>\n" +
              "      </form>";
      let content = $(obj).closest('.comment').children().last().text();
      $(obj).closest('.comment').children().last().remove();
      $(obj).closest('.comment').append(updateForm);
      $('#dupReplyId').val(id);
      $('#dupReply').text(content);
    }

  </script>
</th:block>

<th:block layout:fragment="css">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <style th:inline="css">
  </style>
</th:block>

<th:block layout:fragment="content">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>상세 보기</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">상세 보기</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">상세 내용</h4>
          <div class="btn-group float-right" th:if="${#strings.equals(boardDto.memberEmail, userEmail)}">
            <button type="button" id="updateBtn" class="btn btn-primary btn-sm" onclick="updateInit()">수정</button>
            <button type="button" id="saveBtn" th:data-id="${bid}" class="btn btn-primary btn-sm" style="display: none;" onclick="saveBoard(this)">저장</button>
            <button type="button" th:data-id="${bid}" class="btn btn-primary btn-sm" onclick="deleteBoard(this)">삭제</button>
          </div>
          <button type="button" class="btn btn-secondary btn-sm float-right mr-1" onclick="location.href='/board/info'">목록</button>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="form-group">
              <label>제목</label>
              <input type="text" id="title" th:value="${boardDto.title}" class="form-control" disabled>
            </div>
            <div class="form-group">
              <label>내용</label>
              <textarea class="form-control" id="content" th:text="${boardDto.content}" rows="10" disabled></textarea>
            </div>
            <h6 class="mr-2" style="display: inline">최근 수정일</h6>
            <p style="display: inline; color: gray" th:text="${updateTime}"> </p>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h5 class="card-title">댓글</h5>
        </div>
        <div class="card-body">
          <form action="/reply/new" method="post">
            <div class="form-group">
                <div class="input-group">
                  <input type="hidden" th:value="${boardDto.id}" name="boardId">
                  <textarea class="form-control" id="reply" name="reply" rows="2"></textarea>
                  <button class="btn btn-primary btn-lg" type="submit">작성</button>
                </div>
              <hr />
            </div>
          </form>
          <div id="replyCard">
            <div class="list-group ml-2 mr-2" th:each="reply : ${replies}">
              <div>
                <div class="row border-bottom mb-2">
                  <div class="col">
                    <div class="comment">
                      <div class="d-flex flex-low align-items-center">
                        <strong th:text="${reply.writer}"></strong>
                        <p class="small m-0 ml-2" style="color: grey;" th:text="${reply.updateTime}"></p>
                        <div th:if="${#strings.equals(reply.memberEmail, userEmail)}">
                          <a class="ml-1" th:data-id="${reply.id}" onclick="deleteReply(this)">삭제</a>
                          <a class="ml-0" th:data-id="${reply.id}" onclick="showModal(this)">수정</a>
                        </div>
                          <a class="ml-1" th:data-id="${reply.id}" onclick="showDupForm(this)">답글</a>
                      </div>
                      <p th:text="${reply.content}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2 border-bottom" style="margin-left: 40px;" th:each="dupReply : ${reply.dupReplyDtoList}">
                <div class="col">
                  <div class="comment">
                    <div class="d-flex flex-low align-items-center">
                      <strong th:text="${dupReply.writer}">작성자</strong>
                      <p class="small m-0 ml-2" style="color: grey;" th:text="${dupReply.updateTime}">시간</p>
                      <div th:if="${#strings.equals(dupReply.memberEmail, userEmail)}">
                        <a class="ml-1" th:data-id="${dupReply.id}" onclick="deleteDupReply(this)">삭제</a>
                        <a class="ml-1" th:data-id="${dupReply.id}" onclick="dupUpdateForm(this)">수정</a>
                      </div>
                    </div>
                    <p th:text="${dupReply.content}">테스트 내용</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">댓글 수정</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" id="rid" name="replyId">
                <textarea id="modalContent" class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary btnSave" onclick="updateReply()">저장</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </section>
  </div>
</th:block>
</html>